// Colors
$black: #000;
$white: #fff;
$red: #ff3131;
$blue: #1434a4;
$yellow: #fafa33;
$chartreuse: #7fe21d;
$lilac: #ad91a3;
$heliotrope: #9d91a3;
$violet: #714674;

// Breakpoints
$med: '600px';
$large: '1200px';
